@font-face {
    font-family: Cornerstone;
    src: url(../fonts/Cornerstone.ttf);
}

body {
  background-color: #333333;
  color: #ffffff;
}

#main {
  margin-top: 8%;
  font-size: 1.2em;
}

#logo {
  height: 5em;
}

.rotate {
  -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    scale(0.99);
}

.table {
  background-color: #292929;
}

#title {
  font-family: 'Conerstone', Garamond, cursive;
  text-transform: uppercase;
  font-size: 2.5em;
}

label {
  display: block;
}

input {
  width: 100% !important;
  background-color: #292929;
  border-color: #242424;
  height: 2em;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 1em;
  margin-top: 2em;
}

.search {
  background-color: #5e9dbe;
}
