<!DOCTYPE html>
<html>


<head>
  <script src="js/controllers/part.js"></script>
</head>

<body>
  <div class="text-center col-sm-12" class="brand">
    <img src="images/logo.png" id="logo"></img>
  </div>

  <div id="title" class="col-sm-12 text-center"> Meridian</div>
  <div id="parts" class="table-responsive col-sm-10 col-sm-offset-1">
    <table id="partSearch" class="table responsive row-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Part</th>
          <th>Mission</th>
          <th>Location</th>
          <th>Rotation</th>
        </tr>
      </thead>
    </table>
  </div>
</body>

</html>
